[build]
  command = "npm run build"
  publish = "dist"

[functions]

[dev]
  targetPort = 3000
  port = 8888
  command = "npm run dev"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[functions.producer]
  schedule = "*/10 * * * *" # Run every 10 minutes
